@using System.Globalization
@using petnb.DTL.Data.Models.Enums
@model petnb.DTL.Data.Models.PetSitterOffer

@{
    ViewData["Title"] = "Create";
}

<div class="grid-container-ad">

    <div class="progress-bar-left"></div>

    <div class="progress-bar-center">
        <div class="wrapper-bar">

            <img class="progress-logo" src="~/images/P.svg">
            <div class="percent" id="process-bar-text">0%</div>
            <div class="progress-bar-bar">
                <div class="bar" id="process-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>
    <div class="progress-bar-right"></div>


    

        <!--First screen - Header-->
        <div class="fill-ad" id="completion-0">


            <div class="header-petad">
                Let's find
                a nice and original title for your ad 💎
            </div>

            <div class="petad-form">
                <div class="form-group">
                    <textarea asp-for="Heading" maxlength="250" data-maxlength="250" class="form-control" name="heading"
                              placeholder="eg: Full-time pet sitter/dog walker. Offering loving care in their own comfortable and familiar environment"
                              spellcheck="false"></textarea>
                </div>

                <div class="info-petad">
                    <img src="~/images/i.svg" class="info-image" />
                    <div class="info-petad-text">
                        A perfect title is the key to a good ad. Think about it, you must have a hook and have at least 12 words, like:
                        <br />
                        <br />
                        • Mention the pets you want to sit
                        <br />
                        • The city where you will pet sit or your area of activity
                        <br />
                        • Something to highlight (experienced with ...)
                        <br />
                        <br />
                        eg: "Full-time pet sitter/dog walker. Offering loving care in their own comfortable and familiar environment".
                    </div>
                </div>
            </div>

            <div class="btn-special2">
                <button class="authentication-btn register-btn" onclick="ChangeView(0,1)">next</button>
            </div>

        </div>

        <!--Second screen - Content-->
        <div class="fill-ad" id="completion-1" style="display:none">
            <div class="header-petad">
                Tell us what is your experience in pet sitting ✍️
            </div>
            <div class="form-group">
                <textarea asp-for="Content" maxlength="600" data-maxlength="600" class="form-control" name="content"
                          placeholder="Type here"
                          spellcheck="false"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="info-petad">
                <img src="~/images/i.svg" class="info-image" />
                <div class="info-petad-text">
                    Show your professionalism and inspire confidence in the owner of the pet. It is the first thing they will see about you, do not forget to take care of the spelling and the shape of your texts so that they are as attractive as possible.
                    <br />
                    <br />
                    Do not forget that your last names, contact information, logo or URLs should not appear in your texts ; )
                </div>
            </div>
            <div class="btn-special2">
                <!-- <input type="submit" value="back" class="authentication-btn login-btn" onclick="ChangeView(1, 0)">
                <input type="submit" value="next" class="authentication-btn register-btn" onclick="ChangeView(1, 2)">-->
                <button class="authentication-btn login-btn" onclick="ChangeView(1,0)">back</button>
                <button class="authentication-btn register-btn" onclick="ChangeView(1,2)">next</button>
            </div>
        </div>

        <!--Third screen - Location-->
        <div class="fill-ad" id="completion-2" style="display:none">
            <div class="header-petad">
                Your postal address 🏠
            </div>
            <div class="form-group">
                <input asp-for="Location" class="form-control" value="Location" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="info-petad">
                <img src="~/images/i.svg" class="info-image" />
                <div class="info-petad-text">
                    This address will never appear on the web page. It will be shared only with those users that you have selected.
                </div>
            </div>
            <div class="button-wrapper">
                <div class="button-move1">
                    <input type="radio" name="move" value="yes" class="button-move-special">
                    <span class="text-button">Yes, I can make the trip</span>
                </div>
                <div class="button-move2">
                    <input type="radio" name="move" value="no" class="button-move-special">
                    <span class="text-button">No, the owner has to bring him</span>
                </div>
            </div>
            <div class="button-move3">
                <input type="radio" name="move" value="depends" class="button-move-special">
                <span class="text-button">Maybe, I need to discuss it with the owner</span>
            </div>
            <div class="btn-special2">
                <button class="authentication-btn login-btn" onclick="ChangeView(2,1)">back</button>
                <button class="authentication-btn register-btn" onclick="ChangeView(2,3)">next</button>
            </div>

        </div>
            
            <!-- Fourth screen - Availability-->
            <div class="fill-ad" id="completion-3" style="display: none">
                <div class="header-petad">
                    Select your availability 📅
                </div>
                <div class="form-group">
                    <span class="text-button">Start of sit</span>
                    <input asp-for="StartOfSit" class="form-control" type="date" value=@DateTime.Now.Date.ToString("yyyy/MM/dd") />
                    <span asp-validation-for="StartOfSit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="text-button">End of sit</span>
                    <input asp-for="EndOfSit" class="form-control" value=@DateTime.Now.Date.ToString("yyyy/MM/dd") type="date" />
                    <span asp-validation-for="EndOfSit" class="text-danger"></span>
                </div>

                <div class="btn-special2">
                    <button class="authentication-btn login-btn" onclick="ChangeView(3,2)">back</button>
                    <button class="authentication-btn register-btn" onclick="ChangeView(3,4)">next</button>
                </div>

            </div>


            <!-- Fifth section - Price per h-->
            <div class="fill-ad" id="completion-4" style="display:none">
                <div class="header-petad">
                    The price per hour 🤑
                </div>
                <div class="amount-perh">
                    <input asp-for="ExpectedSalary" class="form-control2" value="Amount" />
                    <span class="text-button2">DKK/h</span>
                </div>

                <div class="header-petad">
                    Indications about your rates (optional)
                </div>
                <div class="form-group">
                    <textarea maxlength="600" data-maxlength="600" class="form-control" name="indications"
                              placeholder="Specify if your rates vary depending on the type of pet, the displacement or if you have a policy of cancellation."
                              spellcheck="false"></textarea>
                </div>

                <div class="btn-special2">
                    <button class="authentication-btn login-btn" onclick="ChangeView(4,3)">back</button>
                    <button class="authentication-btn register-btn" onclick="ChangeView(4,5)">next</button>
                </div>


            </div>



            <!-- Last section - Display AD-->
            <div class="fill-ad" id="completion-5" style="display:none">
                <div class="header-petad">
                    Bravo! Your ad is complete 🎉
                </div>

                <div class="form-group">
                    <span class="text-button">Last thing: improve your ad with recommendations from friends, colleagues, new users ... The more you have, the more attractive it will be and the better positioned it will be ✌️</span>
                </div>

                <div class="grid">
                    <img src="~/images/image_1.jpg" alt="Title" style="width: 250px" class="clip-circle" />
                    <div class="grid2">
                        <div class="usr-description">
                            <div class="name-heading">model.Heading</div>
                            @Html.DisplayNameFor(model => model.Heading)
                            @Html.DisplayNameFor(model => model.Content)
                            @Html.DisplayNameFor(model => model.Location)
                            @Html.DisplayNameFor(model => model.StartOfSit)
                            @Html.DisplayNameFor(model => model.EndOfSit)
                            @Html.DisplayNameFor(model => model.ExpectedSalary)
                            <div class="location">model.Location</div>
                            <div class="start-of-sit">model.StartOfSit</div>
                            <div class="end-of-sit">model.EndOfSit</div>
                            <div class="expected-salary">model.ExpectedSalary</div>

                        </div>

                    </div>
                </div>


                <div class="btn-special2">
                    <button class="authentication-btn login-btn" onclick="ChangeView(5, 4)">back</button>
                    <input type="submit" value="Create" class="authentication-btn register-btn">
                    <!--<button class="authentication-btn register-btn" onclick="ChangeView(3, 4)">Finish</button>-->
                </div>

            </div>
 
</div>



    <script>
        function ChangeView(completionLevelToHide, completionLevelToDisplay) {
            var completionIdToHide = "completion-" + completionLevelToHide;
            var completionIdToDisplay = "completion-" + completionLevelToDisplay;
            document.getElementById(completionIdToHide).style.display = "none";
            document.getElementById(completionIdToDisplay).style.display = "";
            document.getElementById("process-bar").style.width = completionLevelToDisplay * 20 + "%";
            document.getElementById("process-bar-text").innerText = completionLevelToDisplay * 20 + "%";
        }
        function PopulateOverview() {

        }
    </script>



    <!--
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Heading" class="control-label"></label>
                        <input asp-for="Heading" class="form-control" value="test" />
                        <span asp-validation-for="Heading" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" value="test" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" value="test" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartOfSit" class="control-label"></label>
                        <input asp-for="StartOfSit" class="form-control" type="date" value=@DateTime.Now.Date.ToString("yyyy/MM/dd") />
                        <span asp-validation-for="StartOfSit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndOfSit" class="control-label"></label>
                        <input asp-for="EndOfSit" class="form-control" value=@DateTime.Now.Date.ToString("yyyy/MM/dd") type="date" />
                        <span asp-validation-for="EndOfSit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpectedSalary" class="control-label"></label>
                        <input asp-for="ExpectedSalary" class="form-control" value="test" />
                        <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        -->
