@model IEnumerable<petnb.DTL.Data.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

@*<style>
        /* Always set the map height explicitly to define the size of the div
                        * element that contains the map. */
        #map {
           height: 30vw;
        }
    </style> *@



<div class="grid-container">
    <div class="filter">
        
        
        <form>

            <div class="form-search">
                <label for="Location">Location</label>
                <input class="form-control" id="Location" name="Location" type="text">
            </div>

            <div class="form-search">
                <label for="Animal">What animal do you have?</label>
                <select class="form-control" id="Animal">
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Bird</option>
                    <option>Fish</option>
                    <option>Hamster</option>
                    <option>Reptile</option>
                </select>
            </div>
            <div class="btn-special">
                <input class="authentication-btn register-btn" type="submit" value="Search">
            </div>
        </form>
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 56.1629, lng: 10.2039 },
                    zoom: 8
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rltgfTIREXIhA7S39x-F--eDJMY3fiI&callback=initMap"
                async defer></script>
    </div>

    <div class="cards">
        <div class="filter-heading2">
            Pet sitters
        </div>
        <div class="filter-heading3">
            Found 845
        </div>


    <div class="card-grid">
    @foreach (var user in Model)
    {
        var image = "";
        if (user.ProfilePicture != null || user.ProfilePicture.Length != 0 )
        {

            image = Convert.ToBase64String(user.ProfilePicture);
        }
        if (image == null || image == "")
        {
            image = "iVBORw0KGgoAAAANSUhEUgAAAyAAAAMgCAYAAADbcAZoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAALh9JREFUeNrs3S90XMmZN+DSmMyHRmZhuWLLRmLD3GZhkVkWjYZt0Dosi0aDchZ5grKLrGHfIMssQW6zMGlYmHpYgtRhCZqt2nu1liVZVkv3X1U9zzl1NDObc9Z+dbu7fv3WnxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArtpSAoAqLLqf23HsXvrvT67873a7/02f1nGcXvlvby/982n3v0mWflUAAggA89Z04yI8fN79vPjvOVp1IwWTHy6FmIv/DoAAAsDAFpdCxeeXQkeNLsLID5dCydIjAiCAALC5i2VSC0HjQcFkGd5f3gWAAALAlbCxCPkum5qrVRdGLocSAAQQgGosuvEkvNsczrhSEHnb/VwqB4AAAlCSiw7HLwWOWQeS10GHBEAAAchQ2sOxH9oOx37o/1hbhpX2jByHtkNyHOwhARBAAGao6cKGLkd5lqHtjqQwslIOAACmDB3P4ziJ4yejinHS/c4bjz/A/eiAAGweOlKn48vgaNzapb0i3wWdEQAAepb2cBzE8SboABg3jzfdM2K/DwAA97aI42Uc5ybYxh3HeffMLLx8AAC4i/QNdlrjf2YybTxwnHXPkq4IAADXpP0cL02ajYHGy2DPEAAAwd4OY5q9IgAAVMQyK8PyLAAARgkeh8GmcmNem9YPBREAgLI0cbwQPIyZB5EXwQWHAADZBw8by40cN6wLIgAAGUnLWV6YyBqZjxfB0iwAgNkHj8NgqZVhjwgAAAMTPIwagggAABPbD47TNeo6vnffyx4AYHzpVmkXCBo1X2joZnUAgBGktfBOtjKMdydm2R8CADCQdHO0fR6GcX1/yHNvD0AutpQAyEBaavIyWHICtzmN46vuJwAA9+A+D8NwfwhQGB0QYK4WwY3QcF+r0HZDlkoBCCAAt7vYZO6oUXi44y6IrJUCEEAArtsPTvWBvq27EHKsFAAALUfrGoa9IUAldECAqS2CvR4wllWwNwSY2CMlACZ0GCy5gjGl19pBaL+AFEKASeiAAFNo4ngV3OsBU0r3hTwLbVcEQAABimWjOcyHDeqAAAIULW2Cfa4MMDtHXRABEECAIjTBkiuYO0uyAAEEKIIlV5APS7KAwTkFCxjSYRx/iONTpYAspNfqr4JTsoAB6YAAQ7i4WHBfKSBbqQuSuiFrpQAEEGDOdrvwYb8H5O+0CyGnSgEIIMAcLUK72dx+DyhH6oCkzelLpQAEEGBODkLb+QDKlDohR8oACCDAHLzsAghQtqPgvhBAAAEmZLM51MfmdEAAASYLH2+CzeZQo7Qp/akQAgggwFicdAU4IQsQQIDRwkfqfDjpCkgdkKdCCCCAAMIHIIQAAgiQtYPgmF3gwxzTCwgggPABCCGAAAIIH4AQAgggAMIHIIQAAgggfABCCCCAAMIHgBACCCCA8AEIIYAAAggfgBACCCAAwgcghAACCCB8AEIIIIAAwgeAEAIIIIDwAQghgAACzNVuHCfKAExkL45TZQABBKgnfLyJY1spgIms43gqhIAAAggfAEIIIIAAvdjuwseuUgAzcdqFkLVSgAACCB8AQggggAD38iqOfWUAZuo4jmfKAAIIUIZ01O6BMgAzdxTaI3oBAQTI2EFw1weQD3eEgAACZGwR2n0fADlJ+0GWygACCJAXx+0CuXI8LwggQGaceAXkzslYIIAAGXHiFVACJ2NBgR4pARTnMI5/UwagAP8S2i9Ll0oB5dABgbKkrscrZQAKk7ogx8oAAggwL00cJ8Gmc6A8aR/IXhwrpQABBJiPFD5sOgdKddqFECBz9oBAGdJFg79QBqBgPwtth/dPSgF50wGB/Nn3AdTEfhAQQIAJNcG+D6Au9oOAAAJMyL4PoEb2g0DG7AGBfB3G8StlACqU9oO4HwQypQMCeVrE8UYZgMo9FUJAAAGGl/Z7pKVXjVIAlVuFdinWWikgH5ZgQX5+Fxy5C5CkL2TScqzXSgH50AGBvDhyF+A6R/OCAAIMIH3TdxYcuQtwVVqCtRMsxQIBBOhV6nzsKwPAjVIH5JkygAAC9GMRnHoF8DFOxQIBBOiBU68A7mYVnIoFs+cULJg/p14B3E36wubTOP6kFDBfOiAwb7uh7X4AcHepC3KqDCCAAJs76UIIAHd32oUQYIYswYL5eh7HgTIAbCxdTvj3OP6sFDA/OiAwT+78AHgYd4PATOmAwDz9IY4vlAHg3tJm9NQJea0UMC86IDA/Np4D9MeGdBBAgI9IFw4ulAGgF8vQXlAICCDADfbjeKUMAL16FsexMoAAAlyXNp43ygDQq1VoN6QDM2ATOszHYWg7IAD0K50omL50XSoFTE8HBObz4ejYXYDhOJYXZkIHBObht3H8QhkABpOO5f1n0AWByemAwPR0PwDGoQsCM6ADAtP7XXDsLsAYPu3Gn5QCpqMDAtNqQtv9AGA8qQuyUgaYhg4ITOtFaG8+B2A8acnra2WAaeiAwHSaoPsBMBVdEJiIDghM5+s4vlAGgMnYCwIT0AGBaTj5CmBaTsSCieiAwDTc+wEwLfeCwER0QGB8uh8A86ALAhPQAYHx/Vsc+8oAMLnUBflbHH9WChiPDgiML3U/GmUAmIVVaLsgwEh0QGBcB90AYB7Sctgf4zhVChiHDgiM600cC2UAmJVlHE+VAQQQKE268fxEGQBmaS/ogsAoLMGC8fyuCyEAzE/akP5aGWB4OiAwjrTG+FwZAGbtcXAkLwzuEyWAURwoAYD3akAHBMbi6F2A+VsFR/KCAAIFWIT29CsA5i+dhrVUBhiOJVgwvC+VAMB7NtDSAYFhpc3nZ91PAOYvbULfCTajw2B0QGBY+8IHQFa2u/duYCA6IDAsN58D5GcZ3IwOAghkqAnt8isA8pOWYa2UAfpnCRYMRwsfwHs4cIUOCAznJI5dZQDI0mkce8oAAgjkogmWXwHkzjIsGIAlWDAMrXsA7+XADXRAYBiWXwHkzzIsEEAgC02w/AqgFJZhQc8swYL+adkDeE8HPkAHBPrn8kGAciyDSwlBAIEZ247jXBkAivI4jrUyQD8swYJ+adUDeG8HBBAYzRMlAPDeDnyYJVjQr7T8alsZAIqSll89VgYQQGBu0r0fJ8oAUKR0H8ipMsDDWYIF/VkoAYD3eOB2OiDQH8fvApRrGRzHCwIIzMxPSgBg3gTczhIs6MdCCQC81wMCCPhQAsB7PQggUBxnxAN4rwfuwFpG6If9HwDmToAXEYzC/R8A9XAfCDyQJVjwcAslAPCeDwggMJbPlQDAez5wN5ZgwcOdxdEoA0AVVnHsKAMIIDCV7TjOlQGgKo/jWCsD3I8lWPAwu0oA4L0fEEBgLAslAPDeDwggMBabEQG89wMCCIymUQIA7/3A3dmEDg/jBnQAcyhgAzogcH8LJQDwGQAIIDCWRgkAfAYAAgj48AHAZwAIIFCcJ0oAUC0nYYEAAqPbVgKAajVKAPfjBAe4PydgAZhHAV44MIomjjNlAKjaThwrZYDNWIIF9w8gAPgsAAQQGMWuEgD4LFACEEBgLDagA+CzAAQQGI3jFwHwWQACCIzGt14A+CyAe3AKFtxPOgGrUQaAqq1CexIWIIDA4NwBAoC5FHjRgAACgLkUzJk9ILC5hRIA4DMBBBAAAEAAgeI49QQAnwkggMBo3HwLgM8EEEAAAAABBAAAQACBe3uiBAD4TAABBAAAEEAAAAAEEAAAYGRbSgAbOw/OfQegtY7jsTKAAAJD+kkJADCfAi8YEEAAMJ8CLxgQQAAwnwK8YEAAAcB8CrxgQAABwHwKvGAAAQQA8ynwggEBBADzKfCCAQEEAPMpwAsGBBAAzKfACwYEEADMp8ALBhBAADCfAi8YEEAAMJ8CLxgQQAAwnwK8YEAAAcB8CrxgQAABwHwKvGAAAQQA8ynwggEBBADzKfCCAQEEAPMpwAsGBBAAzKfACwYEEADMp8ALBriD8zi2lQGAaB3HY2WAu/tECWBjp0oAgM8EEEAAAAABBAAAQAABAAAEEJi9t0oAgM8EEEAAAAABBAAAQACB+3LkIgA+E0AAgdGslQAAnwkggAAAADO3pQRwLz8pAQDmUuBFAwIIAOZS4EUDxTmLo1EGgKqt4thRBtiMPSBw/w8dAHwWAAIIjMKpJwD4LAABBEbzgxIA+CxQAhBAYCy+9QLAZwEIIDAaN98C4LMA7sEpWHA/TWhPwgKgXukErJUygAACY3EXCIB5FOCFA6M5iWNXGQCqlJZf7SkDbM4eELg/mw8B6rVSAhBAYGxvlQCgWo7gBQEERrdSAgCfAYAAAj58APAZADNlEzo8jJOwAMyhAC8eGI2TsADq4wQseABLsOBhVkoA4L0fEEBgLE5BAfDeDwggMJqlEgB47wfuzh4QeJjtOM6VAaAqj4PLaEEAgQmdxdEoA0AVVnHsKAPcnyVY8HBLJQDwng8IIDAWmxEBvOcDd2QJFjxcugfkRBkAqpDu/zhVBhBAYGpuRAcwdwLuwBIs6MdSCQC81wMCCIzlrRIAeK8HBBAYy1IJALzXAx9nHSP0xz4QAPMm4CN0QKA/SyUA8B4PCCAwltdKAOA9HridViL0x30gAOVy/wcIIDBL53FsKwNAUdZxPFYG6IclWNCvYyUA8N4OCCAwFmfEA3hvB25hCRb0Ky2/OlcGgKKk5VdrZQABBObqTRwLZQAowjKOp8oA/bEEC/rnqEYA7+nAB+iAQP+aOM6UAaAIO3GslAEEEJi7dB/IrjIAZC3d+7GnDNAvS7BgGN8pAYD3cuA6HRAYRhMswwLIneVXIIBAVizDAsiX5VcwEEuwYDha9wDew4ErdEBgOE2wDAsgV5ZfgQACWXIpIUB+lsHlgzAYS7BgWFr4AN67gUt0QGBY26FdhrWtFABZWId2+dVaKWAYOiAw/AfZsTIAZONY+IBh6YDA8Bah3QsCwPylvR9LZQABBHKXlmE1ygAwa6vQLr8CBvRICWC0sP8LZQCYtW/i+LMywPCTImB4aRP6uTIAzNrjYP8HDE4HBMbxj9AuwdpVCoBZOorje2WA4emAwHhS+DhRBoBZ2ovjVBlAAIHSuBkdYH6Wwc3nMBr3gMC43K4L4L0ZqqYDAuNzJC/AfKyCo3dhVDahwzTB35G8APPg6F2YYCIEjCsdyXvW/QRgOunI3Z3g6F0YlQ4IjC8dyfv/gs3oAFP7zzj+qAwwLh0QmIYuCMC0dD9gIjogMI3UBflZHF8oBcAk/iuO18oA49MBgek0oe2CADC+1P1YKQOMTwcEprPuQsiuUgCM6ii4+wMmowMC00oBRBcEYFy6HzAhHRCYVuqCpI3o9oIAjOPbOL5XBpiODghMz4lYAONw8hXMgA4ITM+9IADjcO8HzIAOCMyDLgjAsHQ/YCZ0QGAedEEAhqX7ATOhAwLzkrogjTIA9GoV2u4HMAM6IDAvP8bxK2UA6NVXcfxFGWAedEBgft4ES7EA+rKM46kygAACfFi6Gf1EGQB6sRfHqTLAfFiCBfPz19DuA9lVCoAHOYrjv5UB5kUHBObJsbwAD+PYXZgpHRCYp3Qs7z/j+IVSANzLf4R2/wcwMzogMG9pL4ilWACbSXs+9pQBBBBgczakA2zOxnOYMUuwYN7ShvS0D+QLpQC4k2/j+E4ZYL50QGD+UgBJXZBGKQButQpt98PGcxBAgAdahPaCQgA+LF04uFQGEECAfryKY18ZAG50HMczZQABBOiPu0EAbubODxBAgIGkDsgrZQB4T+p8HCsD5MEpWJCXv4R2M7q7QQBa6dSr3ysD5EMHBPLjVCyA1io49QoEEGAUi+BULACnXkGGLMGCPK1C+wXCQimASn0Tx5EyQH50QCBvaSmW/SBAbU5Du/QKEECAkTVdCHE0L1CLdRc+VkoBAggwDUfzAjVx5C5kzh4QyF86mjd1QL5QCqBwjtyFAuiAQDnsBwFKZt8HCCDAzDTBfhCgTPZ9gAACzJT9IECJ7PuAgtgDAmVJ+0HcDwKUJN338V/KAOXQAYEypS7IvjIAmUtdj2fKAAIIMH9pH8ibYFM6kK+06fxpaPd/AAIIkIHdLoTYlA7kZt2Fj1OlAAEEyMuiCyEAOUnhY6kMUCab0KFsqzh+DPaDAPn4KjjxCoqmAwJ1eBnHgTIAM3fUBRBAAAEK4GQsYM6ceAUCCFAYJ2MBc+XEKxBAACEEQPgABBDg4RzPC8yF43ZBAAGEEADhAxBAgGFCyIkyABPZEz6gTu4BgXr9NbgjBJhGOmr3j8oAddIBAQ5Ce08IwFjh40gZQAABhBAhBBA+AAEEEEIA4QMQQAAhBED4AAQQQAgBhA9AAAGEEED4ABBAACEEED4AAQQQQgDhAxBAACEEQPgABBBACAGED0AAAYQQQPgAEECA+9mN400c20oBdNZxPI3jVCkAAQQQQgDhAxBAgCJCyMvuJ1CnFDq+Ej4AAQQYS+qAvBFCoNrwkTofa6UABBBg7BCSOiH7SgHVOA5t50P4AAQQYDIphBwoAxTvqAsfAAIIMLmD4JheKJljdgEBBJidRRyvghOyoCRpqdWzOJZKAQggwBw5IQvK4aQrQAABsmBzOuTPZnNgEI+UABjAP+L4PrRfciyUA7LzTRy/7l7LAL3SAQGGlrogqRtiXwjMX+p2pK7HsVIAAgiQsya0m9PtC4H5Svs80mbzlVIAAghQCveFwDx9G8dvlAEQQIASWZIF82HJFSCAAFVogiVZMDVLroBJOAULmEL61vW/g1OyYCrplKt/DY7YBSagAwJMLQWQtCSrUQoY3Cq0S66WSgEIIJCH5spEudlw4pzWWbtR+Lq0H+TrOJ4rBQwmbTRPnQ9dj+vSctBNLk5dhfeXrl39d0AAgTtZXPn5eTcx3g797lVIH1LfxXHkA+saG9Shfzaa36wJ7al8X4Z+O7CnXc3T+KH7b8srP0EAgYpchIkUMj7r/nl3wglvCiHfCCLXfkcvw2bfRgI3O+7Ch67H+8Hj6zDdkeDrLqSk8fculJz6HQGU8yGTJrGHcbyJ4zyOn2Y67IG4LoXEsxn/zgxjzuMsOODhps+ElzP+nZ13n1WH3WeXzwSADKRORtpD8CrTiet598Fj+dE7qRYvTCYNY6PxwvvItfeRw5l/CXVbkHzVfbY5thxgZoEjxw+W24LIgV/vtd/1iYmlYdw6TkxSrzko8PNBIAEY2cUm5RqW5qTJxMKv/D3PC5tMGEZfk1InyL1vUcmXFmfBnjmA3m1332C9CpZT8O6ZeBlMOg3jYv+Y94f33x9qXrb5qvvM9EwACB2WZQ0gLT9449kwKh1vgiU4Vx0EHVJhBGBDi+7bPB8gt086Go/Ke9LSA6dlGTWdbmW5zfsaX0Z89Ausl8GSXoD3PjgOTSDvdVoW7zsUXg2ve69746MB9tAXWUCt0jcxllg58aZvOR+3aRiO5747J+P1s0Rr4VECapgcHgTdjr6Hb0VvftbcH2I4gKJMh56N3rsiB541wLfShm5IP5rgxCwjz5OtGi/fa3Q9dNsATP58Y5rVs/hCCDZmPvl7IXh88EssHU0hGEDwCPNupy88hh+cyBwKIoZvnbOxCJbtCiIAgoduSCFB5LmJjTHxFwXPvUZvfY3qeggiAIJHpt+uujPgdgfBHQLGuHf5HHjZ3Wo/6FIKIgC3fEN16A05m+MWfdN6u11B2hh44uagiI9/pjiePZ/TF32mAKN77huqLLshvnm92yTI8izDMqtxHfhMyfIz5blHFxjDIjgGsYQlII1H+c7P+0sTI2PDSdnL4CCIu2qCJZAOPgG45VthrXHfXNX8/B+YKBnh43s7dDvuTie9vKW+vtwCfEgYd5o0WZe++Te26TWhE2icdM+CSddmdoV5X24B+JAwDj3uwoghdIzg0DPkyy0AHxLG5YnVwqP/4DAitJc5mRI6HmYhqPtyC+C2SZQPCRcYWsf+MBd7Rmxgz3sj+YHXQi+vBRcK+nJLNwT4IHs9DKeaDGM36I7k0uUwUerPIjjO2rA3BLjlGyonXBkuMBx3YnYokEweOA4FbZ8phs8UxrelBL6ZDY7O43brOL6K41gpBn0dponw591Pr8d+reJYxvFD9/NUSQazH9rlayaZ3PZ6fOZ1KIBQr9QOfaEM3NGyCyIrpRjc9pVQ0gRLg+7qtHtGL4eNtbIMrgkuYGQzv4njW2UQQKhrcpOCx4FSsKE0kfvGh8ZkFt1ErxFM3gsaq/Cuy8H40pdZXwddDzZ31AURXxIIIBQuTVheBd+m8vDJ31dBC31Or+uLMLLdhZPtS/89RxehYt2FjPWl0LHyK5+F9Ly99HlCD58nz7yuBRDK/rB4E3xLRX9SN+RQGbKw6H5uX5kwPrnhfaLv94j1DWH17ZUJyMU3oEu/qiyk1/3XykCP7xFPgy+1oDgHwekbhiN7gYcHWUfrGkONAy8xKMdzb2rGCMMFhlAuFwoaYw33hUABXnozM0Yc6bKpfS87KMp+cEmtMe546WUHwodh3OeyqcZLELLWBBcKGkIIcEduoTXm0g059HKELB0GXQ/DzekMxClYZYaPdNKVYxGZi1Voj+xdKgXM3iK03zw3SsFMpJOx0glZ7gqBGYePk+AbE8OyLGAzTdA5N+Y7ToJOCAgfhvGA4bQsmNdnh9OtDCGEUVmCVc4HiGVX5CS10n8fx7dBWx2m+txIx53+u0kdGbEcC2ZE58PI+RLDAy9hGNVBcJmgkXcnBJiYo3YNQQQQPAxH9ALCh2EIIiB4GIYQAsKHYQgiIHgYhhACbOS5Nx2joiCSnnebZOFuLjaXCx5GLcOXVTDSN1recIxab1UXRODDweMwuL3cEELIgGN485KO2XX6A7U7iuOb0N6wDrVr4vjaBAzCXmiP6UUAoefwke768A0wtJahvUvkWCmo0H5o7/BYKAX8r3Q3yFMhRAChPy4ahA9bdUHkKLicivI/Cw664NEoB1zjokIBhB6l8LFQBviooy6M+AaMkux2oeNAKeCjll0IQQDhAV760IGNnYZ3y7N8E0aOUrfjYpmV7jds5iiOr5RBAOF+DoIzruEh1l0I+S6034rB3C3i+LILH/b8wf191QURBBA24MQr6NcqvOuKrJSDGWnCu25HoxzQGydjCSBsYLsLHz6IYBgphLwOlmgx7ft8Ch2/7H4C/Vt1IcT7vADCHdh0DuNYXwkjMLTLocMSKxjeMtiULoDwUYehvVQKGD+MHIV2v4iWPX26OMVK6IBpfNPNrxBAuMEitN0PYFqr8G7zujDCfUPHxWbyRjlgcqkLslQGAYT3pW/FzoJvx0AYQegA+pa63DvBfhABhPe8CjYiQi5h5G2wZ4RWet9+InRAFtL79jNlEEBoPY/jhTJAVtZXwohv1eqwfSV06FpDXn4Tx7fKIIDULrXs3/gQg+wtQ3uaVvppqVZ579OL0J5etVAOyFr6suip92kBpHYn3YcbUNYH3EV3JAWSlZJkpemChi4HlCmFjz1lEEBqdRgcuQs1WHVBRCCZf+BYBHs5oAaO5hVAqpS6HifKAFUHkh+CJVtTvf+moPG5wAFV2/P+K4DUxtIr4LKLIPK2+7lSkl403Xvtk0vBAyAES7EEkMocBkuvgLuHkh/Cu64JH7boAsfnwgZwR5ZiCSBVsPQKeIhVN1KnZB3edUtWlfz9m/Cuq5E2hz+59N8A7sNSLAGkeJZeAUM5vRRK/n7p39cZfbheBIvt7p8/u/TfvHcCQ713WoolgBTrMFh6BcwjpCSrOH78wP/tsuWG/z8WN/y3qwHi5+Fd10K4AKbmgkIBpEjpg/YkOE8eAGBu0pcvqQuyUgoBpCSvQnuhFQAA85MukH2mDAJIKfa7AAIAwHw964IIAkjW0pKrtPSqUQoAgFlbhXYp1lophvNICQb322DpFQBADtIXx/8M7l0alA7IsJo4zpQBACArO8GG9MHogAzrZRz/ogwAAFlp4vheGYahAzKcRRxvlAEAIEtPg6VYAkhm3HgOAJAvN6QPxBKsYRzE8W/KAACQrZ/F8WMXROiRDkj/HLsLAFCGVXAsb+90QPrn2F0AgDI4lncAOiD9P6Rn3U8AAPKXuh87QRekNzog/fpDHF8oAwBAMT4N7X6Q10rRDx2Q/jTBpYMAAKVyOWFPdED68yI4dhcAoFRpib0uSA90QPrRBN0PAIDS6YIIILORbjxfKAMAQNGO43imDALI1BZdAAEAoHxPg2N5BZCJ6X4AANRj2YUQBJBJLILuBwBAbXRBBJDJ6H4AANRnGXRBBJAJLILuBwBArXRBBJDR6X4AANRrGXRBBJARNcG9HwAAtXMvyD24Cf1+3HoOAIDb0e9BB2RzTdD9AACgpQuyIR2Qzel+AABwQRdkQzogmz9g58oAAMAlj+NYK8Pd6IBs5rfByVcAALzvn8GRvHemA3J3qftx1v0EAIALqfuxE3RB7uQTJbizfeEDAIAbbHdzRe5AB+TuUvejUQYAAG6wCm0XBAGkFynRvlIGAABu8SyOY2UQQPrwJth8DgDA7ZZxPFUGAeShmuDiQQAA7sbFhB/hGN6Pc/EgAAB35WLCj9AB+fgD5OhdAADuypG8H+EY3ts5ehcAgE04kvcjdEBudxIsvwIAYDOncewpgwCyqd0ugAAAwKb2uiDCFTahf9jvgu4HAAD382mwGf1GOiA3s/kcAICHsBn9A2xCv5nN5wAAPITN6B+gA3Izm88BAHgom9EFkDtpgpvPAQDoh5vRr7AJ/bqv4/hCGQAA6MmflOAdHZDrUvejUQYAAHqwCm0XBAHkRmmj0CtlAACgR8/iOFaGllOw3vdLJQAAwBxzODog7zsPjt8FAKBf6S6Qx8rQ0gF550D4AABgAO4EEUBupDUGAMBQvlSCliVY71LpuTIAADCgtAxrXXsRdEBaWmIAAJhzCiCjsfwKAABzzhFYgmX5FQAA46l+GZYOSAgLJQAAwNxTABmLVhgAAOaeI7EEy+WDAACMp/pLCWvvgOwLHwAAjKj6SwlrDyBPvAYAADAHHU/tS7DO4mi8BgAAGNEqjh0BpD67cZx4/gEAmMBeHKc1/sVrXoLlJkoAAMxFR1ZzByR1P3Y9+wAATCB1P/YEkHq4/RwAgKlVeSt6rUuwLL8CAMCcVAAZjeN3AQAwJ51ArUuw3H4OAMDUqrwVvcYA4vhdAADmorrjeGtcgmX/BwAA5qYTqbED4vhdAADmorrjeGsLII7fBQBgbqo6jre2JVgLzzcAAOaoAshYHL8LAIA56oRqW4J1FkfjGQcAYEZWcewIIOVpugACAABzs9MFkeLVtARr4bkGAMBcVQAZi/0fAACYq06spiVY9n8AADBXq1DJPpBaAkgT7P8AAGDeqtgHUssSrIXnGQAAc1YBZCz2fwAAYM46A7UswbL/AwCAuVuFCvaB1BBAmmD/BwAAeSh+H0gNS7AWnmMAAMxdBZCxfO45BgDA3HUealiCdRLHrmcZAIAMnMaxJ4DkazuOc88xAAAZeRzHutS/XOlLsHQ+AAAwhxVARrPw/AIAYA4rgIzFBYQAAJjDzkjpe0B+8vwCAGCe7i82hrR27sSzCwBAhtJJWKcl/sVKXoJlAzoAAOayAsho7P8AAMBcdmZKXoLlAkIAAHJV7IWEJQcQG9ABADBXn5lSl2AtPK8AAJjTCiBjsfQKAABzWgFkNJ97XgEAyFyRG9FL3QNyFkfjmQUAIGOrOHYEkPnbjuPc8woAQAEex7Eu6S9U4hIs+z8AADC3FUD8kgAAQAApjw3oAACY285UiXtA3IAOAEApirsRvcQA4gZ0AADM2WeqtCVYC88nAADmuALIWBrPJwAA5rgCyFhsQAcAoDRFzXFLCyA2nwMAUJqi5rilbUJPN6Bve0YBAChIugn9sQAyP00cZ55PAAAKtBPHqoS/SElLsBrPJQAAhSpmrltSAFl4LgEAKFQxc92SAsjPPZcAABSqmLmuJVgAAGCuO5qSNqH/5LkEAKBgW/4S80qETsACAKBkRZyEVcoSrMbzCABA4YqY85YSQBaeRwAAClfEnLeUAOIELAAASlfEnNcSLAAAMOcdTSmb0J2ABQBADbb8Baa3Hce5ZxEAgAo8jmOd81+ghCVYu55DAAAqkf3cVwABAABzXwFkA9ueQwAAKpH93LeEAPLEcwgAQCWyn/vqgAAAgLnvaEo4BcsRvAAA1GTLH346aRPOiWcQAICK7MVxmusfPvclWJZfAQBQm6znwLkHEEfwAgBQm4UAIv0BAAAVBBBH8AIAUJus58A6IAAAYA48mtxPwXIELwAANdryB58m+Z179gAAqNDjONY5/sFzXoLlBCwAAGqV7Vw45wBi/wcAALXKdi6sAwIAAObCAsgdfOa5AwCgUtnOhXVAAADAXFgAuQN7QAAAqFW2c+Gcj+F1BwgAADXb8ocWQAAAwFz+FrkuwVp43gAAqFyWc+JP/N4AAAAB5HZOwAIAoHZZzolzDSBOwAIAoHZZzolzDSA/97wBAFC5LOfEuQaQxvMGAEDlspwT24QOAACMJtd7QNwBAgAAGc7nBRAAABBA/IFvkXb7n3vWAAAgPI5jndMfOMc9IO4AAQCATOfGNqEDAAACyC1cQggAAJnOjS3BAgCAfFmCBQAAUFIA+cyvDQAA8pwbW4IFAAD5sgQLAABAAAEAACaX403o6RZ0R/ECAEB7C/pjAWRYP3nOAAAgzzm9AAIAAAKIP6wAAgAA5c3pc9uEvvB8AQBAvnNkp2ABAAACCAAAIIAAAABUE0AWfmUAAPCeXQEEAAAYS1aXdAsgAACAAAIAAAggU/vMrwwAAPKdI+cWQHY9XwAAkO8c2RIsAABAAAEAAAQQAAAAAQQAAJi/rcz+vD/5lQEAQL7zegEEAAAEEH9QAQQAAAQQAQQAAMzrBRAAABBA/EEFEAAAMK/PMoCkK+ZPPFsAAHDNXhynOfxBc7oHZNtzBQAAec+VXUQIAAAIIAAAgAACAAAggAAAAAIIAACAAAIAAAggt9n16wIAgBs1Akj/3AMCAAACCAAAgAACAAAIIAAAgAACAAAggAAAAAIIAACAAAIAAAggAACAAKIEAACAAAIAAAggAAAAAggAACCAAAAACCAAAIAAAgAACCAAAAACCAAAIIAAAAAIIAAAgAByFz/36wIAAAFkLD/6dQEAgAACAAAggAAAAAIIAAAggAAAAAggAACAAAIAACCAAAAAAsiDrfy6AAAg77myAAIAAAKIAAIAAJRHAAEAAEazldGftYnjzK8MAACu2QmZLMPayqywP3m2AAAg33m9AAIAAAKIP+gHpCVYjecLAAD+zyq0S7Cy8EmGxQUAADKdIzsFCwAAEEA+4K1fGQAA5DtH1gEBAAAEkA9Y+pUBAEC+c2QdEAAAYDRbGf6Z3QUCAACZzulzDCDncWx7zgAAIKzjeJzTHzjHJVinnjMAAMhzbpxjAFl5zgAAIM+5cY4B5EfPGQAA5Dk3zjGALD1nAACQ59w4x03oTRxnnjUAAAg7IbNlWFuZFtpRvAAAkOF8PteLCJeeNQAAKpflnDjXAOIoXgAAapflnDjXAPKD5w0AgMplOSfOdQ/IbhwnnjkAACq2FzLsgmxlXPDzOLY9dwAAVGgdx+Mc/+CfZFz0pecOAIBKZTsXzjmA2AcCAECtsp0L64AAAIC58Gi2Mi+8CwkBAKhRtvP4TzIv/NKzBwBAZbKeA+ceQF57/gAAqEzWc+Dcl2C5DwQAgNpkef9HKQEkOYuj8RwCAFCBbO//uPBJAb+EpecQAIBKHOf+FyghgNgHAgBALbKf+5awBGs7jnPPIgAAFUjLr9Y5/wVK6ICkX8CxZxEAgMId5x4+SgkgiWVYAACUrog571YhvwzLsAAAKF32y6+SUjoglmEBAFCyIpZflRRAEsuwAAAoVTFz3a3CfjFpGda25xMAgIJkf/ngZZ8U9suxDAsAgNIUNcctrQOyG8eJZxQAgILsxXEqgMzXSRdEAAAgd6ddACnGowJ/Sf+MY9+zCgBAAf4jFNT9SErsgKRN6GfBZnQAAPKWNp/vhEKO373wSaG/KJvRAQDIXTF3f1y2VegvqwltFwQAAHKVuh8rASQfr4K9IAAA5Cl1P56V+BcrOYAs4njj2QUAIENP41gKIPl50wURAADIxbILIEUqPYAsgi4IAAB5Kbb7UUMACUEXBACAfCxDwd2PWgLIIuiCAACQh6K7H7UEkBB0QQAAmL9lKLz7UVMAWQRdEAAA5q347kdNASRxLwgAAHNV7L0fNQeQJrgdHQCAeSry1vObPKrol7ruAtfC8w0AwIx8G8f3tfxltyr75W6Htguy7TkHAGAG0pfkO93PKjyq7Bf8jzj+FuwFAQBgHn4dx59r+gtvVfqLdiwvAABTW4YKjt0VQFpNsCEdAIBpVbPx/LJHlf6ybUgHAGBK34T26N3qbFX+iz+JY9fzDwDAiE7j2Kv1L197ANntQggAAIxlrwshVXpU+S//r8FSLAAAxpOWXv3/mguw5Rn4X07FAgBgaMtQ4alXAsjNmtAuxXJBIQAAQ0iHIKWlVysBhAvpcsJXygAAwACehUpPvbrqkRL8n7+EtgPyhVIAANCjb+P4vTK0dECusx8EAIC+LIN9HwLIR6QuyFmwHwQAgIdJ+z52up8IILdK94O8EUIAAHhA+Eidj1OleJ89IDdL94P8LbQb0wEAYFO/juOPyiCAbCKlVZcUAgCwqXTZ4LfKcDNLsD7uZRwHygAAwB0cxfGVMgggD5XuB7EcCwCA26R7Pp4pgwDSh7QZPW1K31UKAABukJbvp03nTrwSQIQQAACEDwFECAEAQPgQQBBCAAAQPgQQIQQAAOFDABFChBAAAOEDAUQIAQBA+BBACg0h6Z6QhVIAABRtGdp7PoQPAWQW3JgOAFCuo+CG8148UoLevA5tN+QLpQAAKMo3cfxGGfqhA9K/g9B2QwAAyF/qehwpgwAyd2lTetqcvq0UAABZSvs80mbzU6UQQHLRhHZzuhOyAADykkJH2my+Uor+2QMybGr+Po6fCSEAANk4iuNf4/irUgxDB2Qcz+N4oQwAALOWNpp/qwwCSClSFyQtyWqUAgBgVlahXXJlv4cAUpy0KT11Qg6UAgBgFo5C2/lwuaAAUrT90B7V65QsAIBppMCRjtg9VgoBpBbbXQjZVwoAgFEdd+FD10MAqZJuCADAOHQ9BBA6uiEAAMM6CvZ6CCBcs+iCSKMUAAC9WIW267FUinlwEeH8XiC/74JhOrb3UyUBALiX1On4z+BG89nRAZkvR/YCANzPUbDcSgDh3na7ILJQCgCAWy1Du9xqpRQCCA+XAsjXgggAwI3B45tgn4cAgiACACB4IIAIIgAAggcCCPeS9oj8e7BZHQAo31FoTww9VQoBhOk1XQhJYcSt6gBAKdZd6EjhY6UcAgjzlILIl8HyLAAgX8s4vuuCBwIImWhC2xHZD25XBwDmbxXHcWg7HivlEEDIWwohv+x+WqIFAMzFugsdqduxVA4BBGEEAGCo0PG6+4kAQkUWl8JIoxwAwEBWl0LHUjkEEAhdAElB5EkXTHRHAID7WndB420XPFZKggDCx+x2QUQgAQA2CRzpp7s6EEDoJZCk8fmlcAIA1OkiZPzQ/RQ4EEAYNZQ0oe2UNMFeEgAoyaobb7ufwgYCCLO0CO2SrRROPut+Xvw7ADAvKVCsu59/v/TvS6VBAKGkgJI04V3H5LMrAUVgAYCHBYrL//737p9X4d2GcAEDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgBn4HwEGAJJ0e+INLqIqAAAAAElFTkSuQmCC";

        }

        foreach (var item in user.PetSitter.PetSitterOffers)
        {

            var msgLink = new Dictionary<string, string>()
                    {
                        {"userId", item.PetSitter.UserId}
                    };



            <div class="grid create-btn-positioning">
                <a class="authentication-btn register-btn connect-btn-index" asp-all-route-data="@msgLink" asp-controller="Messages" asp-action="Index">Connect</a>
                <div  style="background-image: url(data:image/png;base64,@image)" alt="Title" style="width: 250px" class="clip-circle" ></div>
                <div class="grid2">
                    <a class="usr-description" asp-route-id="@item.PetSitterOfferId" asp-action="Details">
                        <h2 class="name-heading">@Html.DisplayFor(modelItem => item.Heading)</h2>
                        <p class="location"><i class="fa fa-map-marker-alt" style="color: #ea9078;"></i> @Html.DisplayFor(modelItem => item.ZipCode)</p>
                        <p class="description">@Html.DisplayFor(modelItem => item.Content)</p>


                        <div class="btn-special2">


                            @*<a class="authentication-btn register-btn" asp-route-id="@item.PetSitterOfferId" asp-action="Details" >Details</a>*@

                        </div>
                    </a>
                </div>


            </div>
        }
    }
        </div>




@*
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        @Html.DisplayNameFor(model => model.Heading)

        @Html.DisplayNameFor(model => model.Content)

        @Html.DisplayNameFor(model => model.Location)

        @Html.DisplayNameFor(model => model.StartOfSit)

        @Html.DisplayNameFor(model => model.EndOfSit)

        @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>

    @Html.DisplayNameFor(model => model.ExpectedSalary)


    @foreach (var item in Model)
    {

        @Html.DisplayFor(modelItem => item.Heading)

        @Html.DisplayFor(modelItem => item.Content)

        @Html.DisplayFor(modelItem => item.Location)

        @Html.DisplayFor(modelItem => item.StartOfSit)

        @Html.DisplayFor(modelItem => item.EndOfSit)

        @Html.DisplayFor(modelItem => item.PetSitterId)

        @Html.DisplayFor(modelItem => item.ExpectedSalary)

        <!-- <a asp-action="Edit" asp-route-id="@item.PetSitterOfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PetSitterOfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PetSitterOfferId">Delete</a>-->

    }
*@
