@model IEnumerable<petnb.DTL.Data.Models.PetSitterOffer>

@{
    ViewData["Title"] = "Index";
}



<div class="grid-container">
    <div class="filter">
        <div class="filter-heading">
            Filter
        </div>
        <form>

            <div class="form-search">
                <label for="Location">Location</label>
                <input class="form-control" id="Location" name="Location" type="text" value>
            </div>

            <div class="form-search">
                <label for="Animal">What animal do you have?</label>
                <select class="form-control" id="Animal">
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Bird</option>
                    <option>Fish</option>
                    <option>Hamster</option>
                    <option>Reptile</option>
                </select>
            </div>
            <div class="btn-special">
                <input class="authentication-btn register-btn" type="submit" value="Search">
            </div>
        </form>
    </div>

    <div class="cards">
        <div class="filter-heading2">
            Pet sitters
        </div>
        <div class="filter-heading3">
            Found 845
        </div>


        <div class="card-grid">
            @foreach (var item in Model)
            {

                <div class="grid">
                    <img src="~/images/image_1.jpg" alt="Title" style="width: 250px" class="clip-circle" />
                    <div class="grid2">
                        <div class="usr-description">
                            <div class="name-heading">@Html.DisplayFor(modelItem => item.Heading)</div>
                            <div class="location"> @Html.DisplayFor(modelItem => item.Location)</div>
                            <div class="description">@Html.DisplayFor(modelItem => item.Content)</div>
                            

                        </div>
                        <div class="btn-special2">
                            <input class="authentication-btn register-btn" type="submit" value="contact">
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>




@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @Html.DisplayNameFor(model => model.Heading)

    @Html.DisplayNameFor(model => model.Content)

    @Html.DisplayNameFor(model => model.Location)

    @Html.DisplayNameFor(model => model.StartOfSit)

    @Html.DisplayNameFor(model => model.EndOfSit)

    @*<th>
            @Html.DisplayNameFor(model => model.User)
        </th>

@Html.DisplayNameFor(model => model.ExpectedSalary)


@foreach (var item in Model)
{

    @Html.DisplayFor(modelItem => item.Heading)

    @Html.DisplayFor(modelItem => item.Content)

    @Html.DisplayFor(modelItem => item.Location)

    @Html.DisplayFor(modelItem => item.StartOfSit)

    @Html.DisplayFor(modelItem => item.EndOfSit)

    @Html.DisplayFor(modelItem => item.PetSitterId)

    @Html.DisplayFor(modelItem => item.ExpectedSalary)

    <!-- <a asp-action="Edit" asp-route-id="@item.PetSitterOfferId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PetSitterOfferId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PetSitterOfferId">Delete</a>-->

}
*@