@model IEnumerable<petnb.DTL.Data.Models.PetSitterOffer>

@{
    ViewData["Title"] = "Index";
}

@*<style>
        /* Always set the map height explicitly to define the size of the div
                        * element that contains the map. */
        #map {
           height: 30vw;
        }
    </style> *@



<div class="grid-container">
    <div class="filter">
        
        
        <form>

            <div class="form-search">
                <label for="Location">Location</label>
                <input class="form-control" id="Location" name="Location" type="text">
            </div>

            <div class="form-search">
                <label for="Animal">What animal do you have?</label>
                <select class="form-control" id="Animal">
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Bird</option>
                    <option>Fish</option>
                    <option>Hamster</option>
                    <option>Reptile</option>
                </select>
            </div>
            <div class="btn-special">
                <input class="authentication-btn register-btn" type="submit" value="Search">
            </div>
        </form>
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 56.1629, lng: 10.2039 },
                    zoom: 8
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rltgfTIREXIhA7S39x-F--eDJMY3fiI&callback=initMap"
                async defer></script>
    </div>

    <div class="cards">
        <div class="filter-heading2">
            Pet sitters
        </div>
        <div class="filter-heading3">
            Found 845
        </div>


        <div class="card-grid">
            @foreach (var item in Model)
            {

            
                <a class="grid" asp-action="Details" asp-route-id="@item.PetSitterOfferId">
                    <img src="~/images/image_1.jpg" alt="Title" style="width: 250px" class="clip-circle" />
                    <div class="grid2">
                        <div class="usr-description">
                            <h2 class="name-heading">@Html.DisplayFor(modelItem => item.Heading)</h2>
                            <p class="location"><i class="fa fa-map-marker-alt" style="color: #ea9078;"></i> @Html.DisplayFor(modelItem => item.ZipCode)</p>
                            <p class="description">@Html.DisplayFor(modelItem => item.Content)</p>

                            @*class="location" class="description*@

                        </div>
                        <div class="btn-special2">
                            <input class="authentication-btn register-btn" type="submit" value="contact">
                        </div>
                    </div>
                </a>
            }
        </div>

    </div>

</div>





@*
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        @Html.DisplayNameFor(model => model.Heading)

        @Html.DisplayNameFor(model => model.Content)

        @Html.DisplayNameFor(model => model.Location)

        @Html.DisplayNameFor(model => model.StartOfSit)

        @Html.DisplayNameFor(model => model.EndOfSit)

        @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>

    @Html.DisplayNameFor(model => model.ExpectedSalary)


    @foreach (var item in Model)
    {

        @Html.DisplayFor(modelItem => item.Heading)

        @Html.DisplayFor(modelItem => item.Content)

        @Html.DisplayFor(modelItem => item.Location)

        @Html.DisplayFor(modelItem => item.StartOfSit)

        @Html.DisplayFor(modelItem => item.EndOfSit)

        @Html.DisplayFor(modelItem => item.PetSitterId)

        @Html.DisplayFor(modelItem => item.ExpectedSalary)

        <!-- <a asp-action="Edit" asp-route-id="@item.PetSitterOfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PetSitterOfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PetSitterOfferId">Delete</a>-->

    }
*@
