@model IEnumerable<petnb.DTL.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetDifficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetWeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetDifficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
